{% extends 'base.html.twig' %}

{% block title %}Edit MovieCategory{% endblock %}

{% block body %}
    <h1>Edit MovieCategory</h1>

    {{ include('movie_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_movie_category_index') }}">back to list</a>

    {{ include('movie_category/_delete_form.html.twig') }}
{% endblock %}
